# Files and folders related to builds.
web
recipes
vendor
node_modules
composer.lock
yarn.lock
package-lock.json
/phpcs.xml.dist

# Project specific files and folders.
/Dockerfile
/.env
/drupal-dev/
/docker-compose*.yml
*.sql
*.sql.gz
.idea

# Other junk.
.DS_Store
